body {
    background-color: rgb(43, 48, 53) !important;
}
/* Movie Details Card Container */
.container {
    height: 100vh;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* Spinner Styling */
.spinner {
    width: 30px !important; 
    height: 30px !important; 
    color:white;
    display: block;
}

/* Movie Details Card */
.movieCard {
    background-color: white;
    width: 800px;
    min-height: 450px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgb(245, 242, 242);
    transition: scale .2s ease-in-out;
}

.movieCard:hover {
    scale: 102%;
}

/* Movie Image Container*/
#movieImage-container {
    width: 50%;
    background: url('images/no-image-found.jpeg');
    background-position: center;
    background-size: cover;
}
/* Movie Data Container*/
.movieData-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* Movie Details Title Name*/
.movieData-container div {
    font-size: 1.1rem;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

/* Movie Details Value*/
.movieData-container span {
    font-size: 1rem;
    margin: 2px;
    color: rgba(0, 0, 0, 0.722);
    font-weight: 500;
}

/* Movie Title */
#movieTitle {
 font-size: 1.7em; 
 font-weight: 900; 
 text-align: center;
 margin: 15px auto;
}

/* Movie Ratings */
.rating-imdb{
    display: flex;
    align-items: center;
}
.rating{
    max-width: 20px;
}

/* Handling style for smaller screens */
@media screen and (max-width: 750px) {
    .movieCard {
        flex-direction: column;
        margin: auto 15px;
    }

    .movieCard:hover {
        scale: 100%;
    }

    #movieImage-container {
        width: 100%;
        height: 300px;
    }
    .movieData-container {
        width: 100%;
        height: fit-content;
        min-height: 300px;
    }
  }